html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff; 
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
	font-weight: normal;
	min-width: 1200px;
}

.header-title h1 {
	display: block;
	padding-top: 40px;
	padding-bottom: 108px;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	color: #000000;
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;	
 }


h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase; 
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
}


div {
	display: block;
}

 
* {
box-sizing: border-box;	
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
 
.main-header {
	color: #000000; 
	background-color: #eeeeee;
     
}

.main-header-top {
	padding-top: 45px;
}

.container {
	width: 1180px;
	padding: 0 10px;
	 
	margin:0 auto;
}

.btn {
	display:block;
	padding: 16px 0px;
	width: 160px;
	font-weight: 400;  
	font-size: 16px;
   	line-height: 18px;
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
    color:#ffffff;
	 
	text-align: center; 
	text-transform: uppercase; 
	text-decoration: none; 
	border-radius: 3px;
	background-color: #fb565a;
	border: none;
	cursor: pointer;
}

 .btn:hover {
	background: #e74246;
}

.btn:active { 
   background-color: #d7373b; 
   color: #e37376;
   box-shadow: inset 0 3px 0px 0 #c13135;
 }

.index-logo {
	width:165px;
	height: 67px;
	float:left;
	background-color: #eeeeee;
	cursor: pointer;
}

.index-logo img:hover {
	opacity: 0.8;
}

.index-logo img:active {
	opacity: 0.3;
}


.main-navigation {
	width:500px;
	float:left;
    margin-left: 195px;
}

.main-navigation .main-navigation-items {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /* Т.к li реализованы с помощью блочнострочных элементов */
}

.main-navigation li {
	display: inline-block;
	padding-left: 0;
    padding-right: 46px;
    padding-top: 28px;
    padding-bottom: 4px;  
    font-size: 16px;  
    line-height: 30px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	 
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
 }

  .main-navigation a:hover {
	color: #fb565a;
 }


 .main-navigation a:active {
	color: #a6a6a6;
 }

 .main-navigation .active-page {
 	border-bottom: 2px solid #fb565a;
 }

 .main-navigation .active-page:hover {
 	color: black;
 }
 


.user-block {
	float:right;
    max-width:160px;
}

.shopping-cart {
	position: relative;
	display: inline-block;
	padding-left: 40px;
    padding-right: 0;
    padding-top: 28px;
    
    font-size: 16px;  
    line-height: 30px;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

 .shopping-cart:hover {
	color: #fb565a;
 }
.shopping-cart:active {
	color: #a6a6a6;
 }



.shopping-cart::before {
	content: "";
	position: absolute;
	top: 34px;
	left: 0;
	width: 16px;
	height: 16px;

	 

	background: transparent url('../img/sprite1.png') no-repeat;
	background-position: -30px -112px;
}

.company-advantages {
	padding-top: 80px;
	margin-bottom: 60px;
	margin-left: -50px;
    margin-right: -50px;
	border-bottom: 2px solid #eeeeee;
}

.company-advantages-item {
	width: 300px;
	margin-left: 50px; 
	margin-right: 50px; 
	margin-bottom: 80px;
    float: left;
    
}

.company-advantages-title {
	margin-top: 23px; 
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.company-advantages-item p {
	margin: 0;
	margin-bottom: 30px;
	padding-right: 30px;
}

.company-advantages-image {
	width: 300px;
	height: 146px;
}


.company-presentation-left {
	float:left;
	padding-top:0px;
	width: 650px;
	 

}

.company-presentation-left p b {
	display: block;
	margin-bottom: 32px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-family: "Roboto Medium", Arial,  sans-serif;
	font-weight: 500;
}

.development-advantages {
	padding-top: 22px;
}

.development-advantages span {
	text-transform: uppercase;
	font-weight: 700;
}

.company-presentation-right {
	float:right;
	margin-top: -20px;
	width:360px;

	 
}

.company-achievements > span {
	display: block;
	padding-top: 30px;
	padding-left: 10px; 
	margin-bottom: 41px;
	text-transform: uppercase;
	font-weight: 700; 
}

.company-guarantees small {
	font-size: 70%;
}

.development-advantages ul {
	margin:0;
	padding: 0;
	margin-top: 24px;
	list-style: none;

}

.development-advantages li {
	display: block;
	position: relative;
	margin-bottom:25px;
	padding-left: 35px;
}

.development-advantages li::before {
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	left: 2px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.company-guarantees {
	width: 105px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: top;
}


.company-guarantees-list b {
	font-size: 45px;
	line-height: 45px;
}

.company-guarantees-list span {
	font-size: 16px;
	line-height: 18px;
}

.btn-order-web {
	background-color: #fb565a;
}

.btn-order-app {
	background-color: #00ca74;
}

.btn-order-app:hover {
	background: #00bc6c;
}

.btn-order-app:active { 
   background-color: #00aa62; 
   color: #4dc491;
   box-shadow: inset 0 3px 0px 0 #009958;
 }

.btn-order-present {
	background-color: #efc84a;
}

.btn-order-present:hover {
	background: #eab534;
}

.btn-order-present:active { 
   background-color: #e5a722; 
   color: #edc265;
   box-shadow: inset 0 3px 0px 0 #ce961f;
 }

 

 

.company-presentation {
	padding-bottom: 47px;
	border-bottom: 2px solid #eeeeee;
}

.filter-price {
	margin-bottom:55px;
}

.filter-price h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.range-filter {
	width: 260px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 20px;
	background: #eeeeee;
	border-radius: 2px;
	overflow: hidden;
}

.range-controls .scale {
   margin-top: 39px;
   height: 2px;
   background: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
    left: 20px;
	width: 20px;
	height: 20px; 
	border: 8px solid white; 
	background: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
	left: 162px;
}

.price-controls input {
	width: 80px;
	padding: 6px 10px;
	margin-left: 11px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #eeeeee; 
    font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
}

.price-controls .min-price {
	margin-right: 34px;
} 

.html-arrangement-type h2 {
	margin-bottom: 5px;
}


.arrangement-type {
	margin-bottom: 8px;
}

.product-features-item {
	margin-bottom: 8px;
}

.html-arrangement-type {
	margin-bottom: 44px;
}

.product-features-container h2 {
	margin-bottom: 7px;
}

.product-features-container {
	margin-bottom: 46px;
}

.input[type="checkbox"],
.input[type="radio"]{
	display:none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
    cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	content:"";
	display: inline-block;
	height: 32px;
    width: 32px;
    margin: 0 5px -7px 0;
    background: url('../img/sprite1.png') no-repeat;
}

 
 
input[type="radio"]:checked + label::before {
	background-position: -31px -1205px;
	opacity: 0.1;
}

input[type="radio"] + label::before {
	background-position: -31px -1148px;
	opacity: 0.4;
}


input[type="checkbox"]:checked + label::before {
    background-position: -32px -1090px;
}

input[type="checkbox"] + label::before {
	background-position: -32px -1018px;
}

.btn-products-filtr {
	width: 260px;
	color:#000000;
	background-color: #eeeeee;
}

.sorting-main-title {
	float: left;
}

.sorting-criteria  {
	margin-bottom: 41px;
}

.sorting-main-title h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	padding-top: 5px;
}

.sort-options {
	display:inline-block;
}

.rectangle span {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
}

.rectangleup span {
	display: block;
	margin-left: 10px;
	padding-bottom: 10px;
	width: 0;
	height: 0;
	font-size: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;

}

.sorting-creteria-options {
	width: 380px;
	float: right;
}

.sorting-creteria-options-list {
	float-left;
	width: 300px;

}

.sorting-creteria-rectangles {
	width: 43px;
	float-right;
	 
}

.updown-rectangle span {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;

}

.downup-rectangle span {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;

}

.sorting-creteria-options ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /* Т.к li реализованы с помощью блочнострочных элементов */
}

.sorting-creteria-options li {
    display: inline-block;
	padding-left: 0;
    padding-right: 25px;
    padding-top: 22px;
    padding-bottom: 4px;  
    font-size: 14px;  
    line-height: 18px;
	vertical-align: top;
}

.sorting-creteria-options a {
	display: block;
	 
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
 }




.top-decoration-pattern {
	padding-left: 16px;
	width: 360px;
	height: 40px;
	background-color: #e9e9e9;
}

.top-decoration-pattern-circle {
	vertical-align: top;
    display: inline-block;
    border-radius: 50px;
    margin-right: 5px;
    margin-top:13px;
	width: 14px;
	height: 14px;
	background-color: #ffffff;
}

.portfolio-item-image {
	width: 360px;
	height: 576px;
}


.portfolio-items-pages {
	width: 455px;
}

.portfolio-items-pages .btn-page {
	display: inline-block;
	margin-right: 8px;
 	
	min-width: 50px;
	height: 50px;
	line-height: 44px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	background: #eeeeee;
	text-decoration: none;
	border: 3px solid #eeeeee;
	border-radius: 3px;

}

.portfolio-items-pages .btn-page-next {
	width: 260px;
}
 
   


.portfolio-items-pages .btn-page-active {
   background-color: #ffffff;  
}

 .btn-page:hover {
	background: #dfdfdf;
	border: 3px solid #dfdfdf;
	border-radius: 3px;
}

 
.btn-page:active { 
   background-color: #d5d5d5; 
   color: #959595;
   box-shadow: inset 0 3px 0px 0 #bfbfbf;
   border: none;
   line-height: 50px;  
}
 
.company-product-logos {
	display: flex;
	 
	justify-content: space-around;
	margin-top: 47px;
	padding-bottom: 42px;
	margin-bottom: 80px;
	border-bottom: 2px solid #eeeeee; 	
	 
}


.company-product-logos-item {
	 
	width: 240px; 
	height: 90px;
	 
	font-size: 0;
	 
	text-decoration: none;


	background: transparent url('../img/sprite1.png') no-repeat;
}

 

 .htmlac-logo {
 	position: relative;
 	background-position: -25px -253px;
 	opacity: 0.2;
 	cursor: pointer;
 }

 .htmlac-logo:hover {
    opacity: 1;
 }

 .htmlac-logo:active {
    opacity: 0.1;
 } 


 .htmlac-logo::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 257px;
	display: block;
	width: 2px;
	height: 52px; 
	background-color: #eeeeee;
}

 .borod-logo {
 	position: relative;
 	background-position: -19px -396px;
    opacity: 0.2;
 	cursor: pointer;
 }

 .borod-logo:hover {
    opacity: 1;
 }

 .borod-logo:active {
    opacity: 0.1;
 }

 .borod-logo::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 264px;

	display: block;
	width: 2px;
	height: 52px;
	background-color: black;
}

 .pink-logo {
 	position: relative;
 	background-position: 1px -525px;
    opacity: 0.2;
 	cursor: pointer;
 }

 .pink-logo:hover {
    opacity: 1;
 }

 .pink-logo:active {
    opacity: 0.1;
}

 .pink-logo::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 273px;

	display: block;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

 .mishka-logo {
   	background-position: 18px -650px;
   	opacity: 0.2;
   	cursor: pointer;
 }

 .mishka-logo:hover {
   	opacity: 1;
 }

 .mishka-logo:active {
    opacity: 0.1;
}

.map {
	width: 1440px;
	height: 416px;
 	margin: 0 auto; 
	/* Только для оформления сетки */ 
	background-color: #a2a6b9;
	background: transparent url('../img/map.jpg') no-repeat;
	 
 }

.contacts {
	float:left;
	width: 320px;
    margin-top: 54px; 
 

	 
	background-color: #ffffff;
}

.contacts p b {
	display: block;
	padding-top: 35px;
	padding-left:50px;
	margin-bottom: 28px;
	
}

.company-adress {
	display: block;
	font-size:16px;
	line-height: 18px;
	padding-right: 60px;
	padding-left: 50px;
	color: #666666;
}

.company-phonenumber {
	display: block;
	font-size:16px;
	line-height: 18px;
	padding-left: 50px;
	color: #666666;
	margin-bottom: 40px;
}

.btn-contactus {
	width: 220px;
	margin: 0 auto;
	margin-bottom: 45px;
}


.main-footer {
	margin-top: 0px;
	padding-top:0px;

 
}

.footer-social {
	float:left;
	width:280px;
	margin-top: 68px;
	margin-bottom: 68px;
}

.social-btn {
	display: inline-block;
	margin-right: 7px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #e1e1e1 url('../img/sprite1.png') no-repeat;
}

.social-btn-vk {
	background-position: -1px -890px;
}

.social-btn-vk:hover {
	background-color: #e74246;
}


.social-btn-vk:active { 
   background-color: #d7373b; 
   color: #edc265;
   box-shadow: inset 0 3px 0px 0 #c13135;
}

.social-btn-fb {
	background-position: 4px -1px;
}

.social-btn-inst {
	background-position: -2px -157px;
}

.slogan {
	float:right;
	margin-top: 61px;
	width:660px;
	margin-right:100px;
 
}

.main-footer p b  {
	font-size: 36px;
	line-height: 36px;
}

.discount-for-scf p {
	display: block;
	margin-top: -8px;
	font-size: 16px;
	line-height: 22px;
}

.products-filtr {
	float:left;
	width:280px;

	/* Только для оформления сетки */
	min-height: 840px;
}

.company-portfolio {
	width:780px;
    float:right;
    padding-left: 20px; 


	/* Только для оформления сетки */
	min-height: 2166px;
	  
}

.portfolio-item {
	float:left;
	width:360px;
	margin-right: 40px;
	margin-bottom:36px;
}

.portfolio-item:nth-child(2n) {
	margin-right:0px;
}

.company-portfolio-patterns {
	width:760px;
	margin-bottom: 29px;
}

.portfolio-item-hover h2 {
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.portfolio-item-hover p {
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	width: 190px;
	margin: 0 auto;
	margin-bottom: 28px;
}

.pink-hover p {
   display: block;	
   width: 250px;
}

.btn-pattern-price {
	width: 200px;
	margin: 0 auto;
	margin-bottom: 22px;
}

.portfolio-item  {
	position: relative;
}

.portfolio-item-hover  {
  display: none;
  width: 360px;
  padding: 20px;
  text-align: center;
  background: #eeeeee;
  position: absolute;
  top: 385px;
}


.portfolio-item:hover .sedona-hover {
	display: block;
}

.portfolio-item:hover .pink-hover {
	display: block;
}

.portfolio-item:hover .barbershop-hover {
	display: block;
}

.slider {
	position:relative;
	/* нть высоту */ 
	height: 432px;
	margin: 0 auto;
}


.slider input[type=radio] {
 	opacity: 0;

}	 
 

.slider-controls {
	position: absolute;
	bottom:95px;
	left:50%;
	width:200px;
	height:10px;
	margin-left:-100px;
	text-align: center;
	z-index: 1000;
}

/* Непонятно почему не подсвечивается элемент активный */
.slider-controls label {
	display:inline-block;
	width: 10px;
	height: 10px;
	margin:0 3px;
	background:white;
	border:3px solid white;
	vertical-align:top;
	border-radius:50%;
	cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {

	background: #c1c1c1;

}
.slider-controls .active {
	background: #c1c1c1;
}



.slide {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	width: 500px;
	padding: 20px 0;
	color: #283136;
}

.slide-text p {

	padding-right: 100px;
	margin-bottom: 40px;
	 
}

.slide-title {

	font-size: 55px;
	margin-bottom: 25px;
	line-height: 55px;
	padding-top: 59px;
	font-weight: 500;
	color: #000000;
}

 

.btn-slide {
	width: 240px;
}

.slide:nth-child(1) {
	background-image:url('../img/slider-1.png');
	background-repeat:no-repeat;
	background-position: 100% 0; /*  поставил 0 px вместо 10px и вопрос решился, первый слайд на нужном месте*/
}

.slide:nth-child(2) {
	background-image:url('../img/slider-2.png');
	background-repeat:no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3) {
	background-image:url('../img/slider-3.png');
	background-repeat:no-repeat;
	background-position: 100% 0px;
}
 
.slide {
	display:none;
}

.slides {
	height: 100%;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display:block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display:block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display:block;
}

.modal-content {
	position: absolute;
	top: 1703px;
	left: 50%;
	width: 960px;
	margin-left: -480px;
	padding: 68px 100px;
	padding-bottom: 82px;
	background-color: #ffffff;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7)
}
 
.modal-content-close {
	position: absolute;
	top: 75px;
	right: 100px;
	width: 22px;
	height: 22px;
	font-size:0 ;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	content:"";
	position: absolute;
	width: 25px;
	height: 5px;
	background-color: #fecccd;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content input {
	display: block;
}

.modal-content textarea {
	display: block;
}

.contactus-form-sender-name {
	float: left;
}

.contactus-form-sender-email {
	float: right;
}

.modal-content .model-content-title {
	margin: 0;
	margin-bottom: 38px;
	font-size: 45px;
	line-height: 45px;
	text-transform: none;
	font-weight: 500;
}

.modal-content label {
	display: block;
	margin: 0;
	margin-bottom: 4px;
	font-weight: 700;
}

.contactus-form input[type=text],
.contactus-form textarea[type=text] {
	width: 360px;
	margin: 0;
    padding: 11px 14px;
	font: inherit;
	color: #a1a1a1;
	text-transform: none;
	background-color: #ffffff;
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.contactus-form-sender-contacts {
	margin-bottom: 32px;
}

.contactus-form textarea[type=text] {
	margin-bottom: 49px;
	width: 760px;
	height: 118px;
	resize: none;
}

.btn-text-send {
	width: 260px;
}