html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff; 
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
	font-weight: normal;
	min-width: 1200px;
}

.header-title h1 {
	display: block;
	padding-top: 40px;
	padding-bottom: 108px;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	color: #000000;
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;	
 }


h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase; 
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
}


div {
	display: block;
}

 
* {
box-sizing: border-box;	
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
 
.main-header {
	color: #000000; 
	background-color: #eeeeee;
     
}

.main-header-top {
	padding-top: 45px;
}

.container {
	width: 1180px;
	padding: 0 10px;
	 
	margin:0 auto;
}

.btn {
	display:block;
	padding: 16px 0px;
	width: 160px;
	font-weight: 400;  
	font-size: 16px;
   	line-height: 18px;
	font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
    color:#ffffff;
	 
	text-align: center; 
	text-transform: uppercase; 
	text-decoration: none; 
	border-radius: 3px;
	background-color: #fb565a;
	border: none;
	cursor: pointer;
}

.index-logo {
	width:165px;
	height: 67px;
	float:left;
	 

 
	 
 	background-color: #eeeeee;
}

.main-navigation {
	width:500px;
	float:left;
    margin-left: 195px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /* Т.к li реализованы с помощью блочнострочных элементов */
}

.main-navigation li {
	display: inline-block;
	padding-left: 0;
    padding-right: 46px;
    padding-top: 28px;
    padding-bottom: 4px;  
    font-size: 16px;  
    line-height: 30px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	 
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
 }

 .main-navigation a:hover {
	border-bottom: 2px solid #fb565a;
 }

.user-block {
	float:right;
    max-width:160px;
}

.shopping-cart {
	position: relative;
	display: inline-block;
	padding-left: 40px;
    padding-right: 0;
    padding-top: 28px;
    
    font-size: 16px;  
    line-height: 30px;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}



.shopping-cart:hover {
	border-bottom: 2px solid #fb565a;
 }

.shopping-cart::before {
	content: "";
	position: absolute;
	top: 34px;
	left: 0;
	width: 16px;
	height: 16px;

	 

	background: transparent url('../img/sprite1.png') no-repeat;
	background-position: -30px -112px;
}

.company-advantages {
	padding-top: 80px;
	margin-bottom: 60px;
	margin-left: -50px;
    margin-right: -50px;
	border-bottom: 2px solid #eeeeee;
}

.company-advantages-item {
	width: 300px;
	margin-left: 50px; 
	margin-right: 50px; 
	margin-bottom: 80px;
    float: left;
    
}

.company-advantages-title {
	margin-top: 23px; 
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.company-advantages-item p {
	margin: 0;
	margin-bottom: 30px;
	padding-right: 30px;
}

.company-advantages-image {
	width: 300px;
	height: 146px;
}


.company-presentation-left {
	float:left;
	padding-top:0px;
	width: 650px;
	 

}

.company-presentation-left p b {
	display: block;
	margin-bottom: 32px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-family: "Roboto Medium", Arial,  sans-serif;
	font-weight: 500;
}

.development-advantages {
	padding-top: 22px;
}

.development-advantages span {
	text-transform: uppercase;
	font-weight: 700;
}

.company-presentation-right {
	float:right;
	margin-top: -20px;
	width:360px;

	 
}

.company-achievements > span {
	display: block;
	padding-top: 30px;
	padding-left: 10px; 
	margin-bottom: 41px;
	text-transform: uppercase;
	font-weight: 700; 
}

.company-guarantees small {
	font-size: 70%;
}

.development-advantages ul {
	margin:0;
	padding: 0;
	margin-top: 24px;
	list-style: none;

}

.development-advantages li {
	display: block;
	position: relative;
	margin-bottom:25px;
	padding-left: 35px;
}

.development-advantages li::before {
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	left: 2px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.company-guarantees {
	width: 105px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: top;
}


.company-guarantees-list b {
	font-size: 45px;
	line-height: 45px;
}

.company-guarantees-list span {
	font-size: 16px;
	line-height: 18px;
}

.btn-order-app {
	background-color: #00ca74;
}

.btn-order-present {
	background-color: #efc84a;
}

.company-presentation {
	padding-bottom: 47px;
	border-bottom: 2px solid #eeeeee;
}

.filter-price {
	margin-bottom:55px;
}

.filter-price h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.range-filter {
	width: 260px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 20px;
	background: #eeeeee;
	border-radius: 2px;
	overflow: hidden;
}

.range-controls .scale {
   margin-top: 39px;
   height: 2px;
   background: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
    left: 20px;
	width: 20px;
	height: 20px; 
	border: 8px solid white; 
	background: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
	left: 162px;
}

.price-controls input {
	width: 80px;
	padding: 6px 10px;
	margin-left: 11px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #eeeeee; 
    font-family: "Roboto","PT Sans Narrow", "Arial",  sans-serif;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
}

.price-controls .min-price {
	margin-right: 34px;
} 

.html-arrangement-type h2 {
	margin-bottom: 5px;
}


.arrangement-type {
	margin-bottom: 8px;
}

.product-features-item {
	margin-bottom: 8px;
}

.html-arrangement-type {
	margin-bottom: 44px;
}

.product-features-container h2 {
	margin-bottom: 7px;
}

.product-features-container {
	margin-bottom: 46px;
}

.input[type="checkbox"],
.input[type="radio"]{
	display:none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	content:"";
	display: inline-block;
	height: 32px;
    width: 32px;
    margin: 0 5px -7px 0;
    background: url('../img/sprite1.png') no-repeat;
}

input[type="radio"]:checked + label::before {
	background-position: -31px -1205px;
}

input[type="radio"] + label::before {
	background-position: -31px -1148px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -32px -1090px;
}

input[type="checkbox"] + label::before {
	background-position: -32px -1018px;
}

.btn-products-filtr {
	width: 260px;
	color:#000000;
	background-color: #eeeeee;
}
  
.company-product-logos {
	display: flex;
	 
	justify-content: space-around;
	margin-top: 47px;
	padding-bottom: 42px;
	margin-bottom: 80px;
	border-bottom: 2px solid #eeeeee; 	
	 
}


.company-product-logos-item {
	 
	width: 240px; 
	height: 90px;
	 
	font-size: 0;
	 
	text-decoration: none;


	background: transparent url('../img/sprite1.png') no-repeat;
}

 

 .htmlac {
 	position: relative;
 	background-position: -25px -253px;
 }

 .htmlac::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 257px;

	display: block;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

 .borod {
 	position: relative;
 	background-position: -19px -396px;
}

 .borod::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 264px;

	display: block;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

 .pink {
 	position: relative;
 	background-position: 1px -525px;
 }

 .pink::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 273px;

	display: block;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

 .mishka {
   background-position: 18px -650px;
 }

.map {
	width: 1440px;
	height: 416px;
 	margin: 0 auto; 
	/* Только для оформления сетки */ 
	background-color: #a2a6b9;
	background: transparent url('../img/map.jpg') no-repeat;
	 
 }

.contacts {
	float:left;
	width: 320px;
    margin-top: 54px; 
 

	 
	background-color: #ffffff;
}

.contacts p b {
	display: block;
	padding-top: 35px;
	padding-left:50px;
	margin-bottom: 28px;
	
}

.company-adress {
	display: block;
	font-size:16px;
	line-height: 18px;
	padding-right: 60px;
	padding-left: 50px;
	color: #666666;
}

.company-phonenumber {
	display: block;
	font-size:16px;
	line-height: 18px;
	padding-left: 50px;
	color: #666666;
	margin-bottom: 40px;
}

.btn-contactus {
	width: 220px;
	margin: 0 auto;
	margin-bottom: 45px;
}


.main-footer {
	margin-top: 0px;
	padding-top:0px;

 
}

.footer-social {
	float:left;
	width:280px;
	margin-top: 68px;
	margin-bottom: 68px;
}

.social-btn {
	display: inline-block;
	margin-right: 7px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #e1e1e1 url('../img/sprite1.png') no-repeat;
}

.social-btn-vk {
	background-position: -1px -890px;
}

.social-btn-fb {
	background-position: 4px -1px;
}

.social-btn-inst {
	background-position: -2px -157px;
}

.slogan {
	float:right;
	margin-top: 61px;
	width:660px;
	margin-right:100px;
 
}

.main-footer p b  {
	font-size: 36px;
	line-height: 36px;
}

.discount-for-scf p {
	display: block;
	margin-top: -8px;
	font-size: 16px;
	line-height: 22px;
}

.products-filtr {
	float:left;
	width:280px;

	/* Только для оформления сетки */
	min-height: 840px;
}

.company-portfolio {
	width:780px;
    float:right;
    padding-left: 20px; 


	/* Только для оформления сетки */
	min-height: 2166px;
	background-color: #d9cfcf;
}

.portfolio-item {
	float:left;
	width:360px;
	margin-right: 40px;
	margin-bottom:36px;

/* Только для оформления сетки */
	min-height: 616px;
	background-color: #99a18c;	
}

.portfolio-item:nth-child(2n) {
	margin-right:0px;
}

.company-portfolio-patterns {
	width:760px;

/* Только для оформления сетки */
	min-height: 1926px;
	background-color: #fba7a9;
}

.slider {
	position:relative;
	/* нть высоту */ 
	height: 432px;
	margin: 0 auto;
}


.slider input[type=radio] {
 	opacity: 0;

}	 
 

.slider-controls {
	position: absolute;
	bottom:95px;
	left:50%;
	width:200px;
	height:10px;
	margin-left:-100px;
	text-align: center;
	z-index: 1000;
}

/* Непонятно почему не подсвечивается элемент активный */
.slider-controls label {
	display:inline-block;
	width: 10px;
	height: 10px;
	margin:0 3px;
	background:white;
	border:3px solid white;
	vertical-align:top;
	border-radius:50%;
	cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {

	background: #c1c1c1;

}
.slider-controls .active {
	background: #c1c1c1;
}



.slide {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	width: 500px;
	padding: 20px 0;
	color: #283136;
}

.slide-text p {

	padding-right: 100px;
	margin-bottom: 40px;
	 
}

.slide-title {

	font-size: 55px;
	margin-bottom: 25px;
	line-height: 55px;
	padding-top: 59px;
	font-weight: 500;
	color: #000000;
}

 

.btn-slide {
	width: 240px;
}

.slide:nth-child(1) {
	background-image:url('../img/slider-1.png');
	background-repeat:no-repeat;
	background-position: 100% 0; /*  поставил 0 px вместо 10px и вопрос решился, первый слайд на нужном месте*/
}

.slide:nth-child(2) {
	background-image:url('../img/slider-2.png');
	background-repeat:no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3) {
	background-image:url('../img/slider-3.png');
	background-repeat:no-repeat;
	background-position: 100% 0px;
}
 
.slide {
	display:none;
}

.slides {
	height: 100%;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display:block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display:block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display:block;
}